section.hero
	.hero__container.container 
		.hero__title Lorem ipsum dolor sit amet, consectetur adipiscing
		a(href="#").hero__btn 	
			span Консультация инженера
	.popap-hero-back
	.popap-hero
		.popap-hero__close
		form(action="" method="method").popap-hero__form 
			.popap-hero__form-input 
				input(type="text" placeholder="Представьтесь, пожалуйста")
			.popap-hero__form-input 
				input(type="tel" placeholder="Ваш номер телефона")
			.popap-hero__form-input.popap-hero__form-input--send 
				input(type="submit")

