section.workwithus
	.workwithus__container.container 
		.workwithus__title.general-title Почему стоит работать с нами:
		.workwithus__items 
			.workwithus__item.item-workwithus 
				.item-workwithus__inner
					.item-workwithus__header 
						img(src="img/svg/kas.svg", alt="alt")
						span Мы - команда инженеров
					.item-workwithus__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
			.workwithus__item.item-workwithus 
				.item-workwithus__inner
					.item-workwithus__header 
						img(src="img/svg/kas.svg", alt="alt")
						span Работаем напрямую с производителями
					.item-workwithus__text No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those
			.workwithus__item.item-workwithus 
				.item-workwithus__inner
					.item-workwithus__header 
						img(src="img/svg/kas.svg", alt="alt")
						span Своя сервисная служба
					.item-workwithus__text To take a trivial example, which of us ever undertakes laborious physical
