extends layouts/default
include helpers/mixins

block variables
	- const title = "Project title"

block content
	.wrapper
		include ../blocks/modules/header/header
		main.main
			include ../blocks/modules/hero/hero
			include ../blocks/modules/calculation/calculation
			include ../blocks/modules/need/need
			include ../blocks/modules/workwithus/workwithus
			include ../blocks/modules/turnkey-work/turnkey-work
			include ../blocks/modules/stages/stages
			include ../blocks/modules/examples/examples
			include ../blocks/modules/question/question
			include ../blocks/modules/news/news
		include ../blocks/modules/footer/footer

block scripts
	script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
	script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js") 
	script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js") 
	script(src="js/main.js")