section.turnkey-work 
	.turnkey-work__container.container 
		.turnkey-work__title.general-title.general-title--white Работа под ключ
		.turnkey-work__text 
			p 
				|Мы не только проектируем, 
				br
				|но и поможем в оказании 
				br
				|сопутствующих услуг под ключ. 
			p 
				|Вы можете получить весь спектр услуг 
				br
				|от проектирования до ввода обьекта 
				br
				|в эксплуатацию
		.turnkey-work__items 
			.turnkey-work__item 
				.turnkey-work__item-inner
					img(src="img/svg/turnkey-work1.svg", alt="alt")
					span Архитектурное проектирование
			.turnkey-work__item 
				.turnkey-work__item-inner
					img(src="img/svg/turnkey-work2.svg", alt="alt")
					span Проектирование электрификации
			.turnkey-work__item 
				.turnkey-work__item-inner
					img(src="img/svg/turnkey-work3.svg", alt="alt")
					span Проектирование отопления
			.turnkey-work__item 
				.turnkey-work__item-inner
					img(src="img/svg/turnkey-work4.svg", alt="alt")
					span Дизайн проект и 3D визуализация
			.turnkey-work__item 
				.turnkey-work__item-inner
					img(src="img/svg/turnkey-work5.svg", alt="alt")
					span Строительные работы
			.turnkey-work__item 
				.turnkey-work__item-inner
					img(src="img/svg/turnkey-work6.svg", alt="alt")
					span Кондиционирование и вентиляция
			.turnkey-work__item 
				.turnkey-work__item-inner
					img(src="img/svg/turnkey-work7.svg", alt="alt")
					span Гарантийное обслуживание

	.turnkey-work__footer 
		.container 
			.turnkey-work__footer-title Оплачивается дополнительно по договоренности:
			.turnkey-work__footer-row 
				ul.turnkey-work__footer-list 
					li.turnkey-work__footer-item Внесение изменений Заказчиком после согласования схемы монтажа
					li.turnkey-work__footer-item Согласование проекта с управляющей компанией
				.turnkey-work__footer-btn.order-project-btn
					span Заказать проект
					img(src="img/svg/arrow-circle.svg", alt="alt")