section.examples
	.examples__container.container 
		.examples__title.general-title Примеры реализованных объектов
		.examples__swiper.swiper 
			.swiper-wrapper
				.examples__slide.swiper-slide 
					a(href="#").examples__img 
						img(src="img/examples/1.jpg", alt="alt")
					.examples__body 
						.examples__body-title.general-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.examples__body-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
						a(href="#").examples__btn 
							span Посмотреть проект
							img(src="img/svg/arrow-circle.svg", alt="alt")
				.examples__slide.swiper-slide 
					a(href="#").examples__img 
						img(src="img/examples/1.jpg", alt="alt")
					.examples__body 
						.examples__body-title.general-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.examples__body-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
						a(href="#").examples__btn 
							span Посмотреть проект
							img(src="img/svg/arrow-circle.svg", alt="alt")
				.examples__slide.swiper-slide 
					a(href="#").examples__img 
						img(src="img/examples/1.jpg", alt="alt")
					.examples__body 
						.examples__body-title.general-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.examples__body-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
						a(href="#").examples__btn 
							span Посмотреть проект
							img(src="img/svg/arrow-circle.svg", alt="alt")
				.examples__slide.swiper-slide 
					a(href="#").examples__img 
						img(src="img/examples/1.jpg", alt="alt")
					.examples__body 
						.examples__body-title.general-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.examples__body-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
						a(href="#").examples__btn 
							span Посмотреть проект
							img(src="img/svg/arrow-circle.svg", alt="alt")
				.examples__slide.swiper-slide 
					a(href="#").examples__img 
						img(src="img/examples/1.jpg", alt="alt")
					.examples__body 
						.examples__body-title.general-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.examples__body-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
						a(href="#").examples__btn 
							span Посмотреть проект
							img(src="img/svg/arrow-circle.svg", alt="alt")

		.examples__footer 
			.examples__pagination 
			.examples__arrow.arrow-swiper 
				.examples__arrow-prev.arrow-swiper__prev
					img(src="img/svg/arrow-swiper-prev.svg", alt="alt") 
				.examples__arrow-next.arrow-swiper__next
					img(src="img/svg/arrow-swiper-next.svg", alt="alt") 