section.need
	.need__title.general-title 
		.container 
			|Зачем нужен проект?
	.header-need 
		.header-need__container.container
			a(href="#").header-need__question 
				img(src="img/svg/message.svg", alt="alt")
				span Задать вопрос
			.swiper.header-need-swiper(thumbsslider='')
				.swiper-wrapper
					.swiper-slide.header-need__introduction
						span Веедение
					.swiper-slide.header-need__advantage
						span Преимущества проекта
					.swiper-slide.header-need__questions
						span Часто задаваемые вопросы
	.content-need
		.content-need__container.container
			.swiper.content-need-swiper
				.swiper-wrapper
					.swiper-slide.content-need__introduction 
						.content-need__row 
							.content-need__left 
								.content-need__title Nemo enim ipsam voluptatem quia voluptas
								.content-need__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
								ul.content-need__list 
									li.content-need__item 
										span Sed ut perspiciatis 
										|unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
									li.content-need__item.content-need__item-lh 
										span Nemo enim 
										|ipsam voluptatem quia voluptas sit aspernatur aut
									li.content-need__item.content-need__item-lh 
										span Neque porro quisquam 
										|est, qui dolorem ipsum quia dolor
								a(href="#").content-need__btn 
									span Посмотреть наши проекты
									img(src="img/svg/arrow-circle.svg", alt="alt")
							#content-need__right.content-need__right 
								video#content-need__player.content-need__player(src='')
								.content-need__pause.pause
								.content-need__img.play
									img(src="img/need/1.jpg", alt="alt")
								.content-need__play-btn
									img(src='img/svg/play.svg' alt='alt')

					.swiper-slide.content-need__advantage Lorem ipsum dolor sit amet.
					.swiper-slide.content-need__questions Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. 

