.need {
	background: #ffffff;
	padding-top: 46px;
	@media (max-width: 768px){
		padding-top: 7.778vw;
	}
	&__title {}
}


.header-need {
	margin-top: 31px;
	border-bottom: 1px solid#AEAEAE;
	position: relative;
	@media (max-width: 768px){
		margin-top: 8.611vw;
		border-bottom: 0.278vw solid #AEAEAE;
	}
	@media (max-width: 768px){
		.swiper {
			overflow: visible;
		}
	}
	&__container {
		position: relative;
	}
	&__question {
		position: absolute;
		z-index: 9;
		top: 0;
		right: 15px;
		transform: translate(0, 0);
		display: inline-block;
		@media (max-width: 768px){
			display: none;
		}
		span {
			display: inline-block;
			margin-left: 8px;
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 600;
			font-size: 17px;
			line-height: 125%;
			text-align: right;
			color: #656565;
		}
	}
		
	.swiper-slide {
		width: auto;
		display: inline-block;
		cursor: pointer;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		line-height: 125%;
		color: #656565;
		margin-right: 20px;
		@media (max-width: 992px){
			margin-right: 10px;
		}
		@media (max-width: 768px){
			font-size: 4.722vw;
			margin: 0;
			&:not(:last-child) {
				margin-right: 5.556vw;
			}
		}
		span {
			display: inline-block;
			padding-bottom: 15px;
			@media (max-width: 768px){
				padding-bottom: 3.3vw;
			}
		}
		&.swiper-slide-thumb-active {
			color: #000000;
			span {
				border-bottom: 2px solid #000000;
				@media (max-width: 768px){
					border-bottom: 0.556vw solid #000000;
				}
			}
		}
	}
}


.content-need {
	margin-top: 48px;
	padding-bottom: 56px;
	@media (max-width: 768px){
		margin-top: 5.556vw;
		padding-bottom: 7.500vw;
	}
	.swiper-slide {
		opacity: 0!important;
		&.swiper-slide-active {
			opacity: 1!important;
		}
	}
		&__row {
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			@media (max-width: 768px){
				flex-wrap: wrap;
			}
		}
	
		&__left {
			flex: 0 1 564px;
			padding-bottom: 16px;
			@media (max-width: 768px){
				flex: 1 1 100%;
				padding-bottom: 0;
				order: 2;
			}
		}

		&__right {
			flex: 0 1 620px;
			margin-left: 20px;
			@media (max-width: 768px){
				flex: 1 1 100%;
				margin-left: 0;
				order: 1;
				min-height: 48.056vw;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	
		&__title {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 700;
			font-size: 17px;
			line-height: 150%;
			color: #000000;
			@media (max-width: 768px){
				font-size: 5.556vw;
				margin-top: 4.167vw;
			}
		}
	
		&__text {
			margin-top: 14px;
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 160%;
			color: #383838;
			@media (max-width: 768px){
				font-size: 4.167vw;
				margin-top: 4.167vw;
			}
		}
		
		&__list {
			margin-top: 19px;
			padding-bottom: 24px;
			border-bottom: 1px solid #DEDEDE;
			@media (max-width: 768px){
				margin-top: 4.167vw;
				padding-bottom: 8.333vw;
				border-bottom: 0.278vw solid #DEDEDE;
			}
		}
		
		&__item {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 160%;
			color: #383838;
			padding-left: 22px;
			position: relative;
			@media (max-width: 768px){
				font-size: 4.167vw;
				padding-left: 5.833vw;
			}
			&:not(:first-child) {
				margin-top: 6px;
				@media (max-width: 768px){
					margin-top: 1.667vw;
				}
			}
			&-lh {
				@media (max-width: 768px) {
					line-height: 210%;
				}
			}
			span {
				font-weight: 600;
				color: #000000;
			}
			&::before{
				content:'';
				position: absolute;
				top: 9px;
				left: 0;
				width: 6px;
				height: 6px;
				background-color: #000000;
				border-radius: 50%;
				@media (max-width: 768px){
					width: 1.667vw;
					height: 1.667vw;
					top: 2.767vw;
				}
			}
		}
		
		&__btn {
			display: inline-block;
			margin-top: 32px;
			@media (max-width: 768px){
				margin-top: 6.333vw;
			}
			span {
				font-family: 'Open Sans';
				font-style: normal;
				font-weight: 600;
				font-size: 15px;
				line-height: 150%;
				color: #000000;
				margin-right: 10px;
				display: inline-block;
				@media (max-width: 768px){
					margin-right: 2.778vw;
					font-size: 4.167vw;
				}
			}
			img {
				@media (max-width: 768px){
					width: 5.556vw;
					height: 5.556vw;
				}
			}
		}
	
		&__introduction {}

		&__advantage {}
		
		&__questions {}
}

.content-need {
	&__right {
		position: relative;
		width: 100%;
		max-height: 337px;
		min-height: 100%;
	}

	&__player,
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__player {}

	&__img {
		transition: all 0.3s ease 0s;
		pointer-events: auto;
		cursor: pointer;
	}

	&__img.hide {
		opacity: 0;
		pointer-events: none;
	}

	&__pause {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
		opacity: 0;
	}

	&__play-btn {
		pointer-events: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80px;
		height: 80px;
		opacity: 1;
		transition: all 0.3s ease 0s;
		@media (max-width: 768px){
			width: 11.389vw;
			height: 11.389vw;
		}
		&.hide {
			opacity: 0;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
}