section.news
	.news__container.container
		.news__header
			.news__title.general-title Новости из мира проектирования
			.news__arrow.news__arrow-desk.arrow-swiper 
				.news__arrow-prev.arrow-swiper__prev
					img(src="img/svg/arrow-swiper-prev.svg", alt="alt")
				.news__arrow-next.arrow-swiper__next
					img(src="img/svg/arrow-swiper-next.svg", alt="alt")

		.news__swiper.swiper 
			.swiper-wrapper 
				.news__item.item-news.swiper-slide 
					.item-news__column 
						.item-news__img 
							img(src="img/news/1.jpg", alt="alt")
						.item-news__content
							.item-news__date 6 августа 2022
							.item-news__title The standard Lorem Ipsum passage
							.item-news__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
							.item-news__link 
								img(src="img/svg/arrow-circle.svg", alt="alt")
								span Прочитать новость
				.news__item.item-news.swiper-slide 
					.item-news__column 
						.item-news__img 
							img(src="img/news/2.jpg", alt="alt")
						.item-news__content
							.item-news__date 8 августа 2022
							.item-news__title Sed ut perspiciatis unde omnis
							.item-news__text Nemo enim ipsam voluptatem quia voluptas sit aspernatur
							.item-news__link 
								img(src="img/svg/arrow-circle.svg", alt="alt")
								span Прочитать новость
				.news__item.item-news.swiper-slide 
					.item-news__column 
						.item-news__img 
							img(src="img/news/3.jpg", alt="alt")
						.item-news__content
							.item-news__date 10 августа 2022
							.item-news__title Ut enim ad minima veniam
							.item-news__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
							.item-news__link 
								img(src="img/svg/arrow-circle.svg", alt="alt")
								span Прочитать новость
				.news__item.item-news.swiper-slide 
					.item-news__column 
						.item-news__img 
							img(src="img/news/1.jpg", alt="alt")
						.item-news__content
							.item-news__date 6 августа 2022
							.item-news__title The standard Lorem Ipsum passage
							.item-news__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
							.item-news__link 
								img(src="img/svg/arrow-circle.svg", alt="alt")
								span Прочитать новость
			.news__arrow.news__arrow-mob.arrow-swiper 
				.news__arrow-prev.arrow-swiper__prev
					img(src="img/svg/arrow-swiper-prev.svg", alt="alt")
				.news__arrow-next.arrow-swiper__next
					img(src="img/svg/arrow-swiper-next.svg", alt="alt")
