footer.footer 
	.footer__top.top-footer 
		.top-footer__container.container 

			.top-footer__logo 
				a(href="#") Key Project
			.top-footer__row
				.top-footer__text 
					p Общество с ограниченной ответственностью «Key Project» 
					p Россия, Москва, Рязанский проспект, 16, стр. 1
				.top-footer__connection 
					a(href="mailto:zakaz@klimek.ru") zakaz@klimek.ru
					a(href="tel:4994441992") 8 499 444-19-92
				.top-footer__social 
					a(href="#") 
						img(src="img/svg/vk.svg", alt="alt")
					a(href="#") 
						img(src="img/svg/in.svg", alt="alt")
					a(href="#") 
						img(src="img/svg/insta.svg", alt="alt")
					a(href="#") 
						img(src="img/svg/telegram.svg", alt="alt")
					a(href="#") 
						img(src="img/svg/whatsapp.svg", alt="alt")


	.footer__bottom.bottom-footer
		.bottom-footer__container.container 
			.bottom-footer__left © 2019-2022 Климек. Все права защищены
			a(href="#").bottom-footer__center Политика обработки персональных данных
			.bottom-footer__right 
				|Разработка сайта:
				a(href="#") 
					img(src="img/svg/md.svg", alt="alt")

