@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria_ExtraBold/Geometria_ExtraBold.eot');
	src: local('Geometria_ExtraBold'), local('../fonts/Geometria_ExtraBold/Geometria_ExtraBold'),
		url('../fonts/Geometria_ExtraBold/Geometria_ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria_ExtraBold/Geometria_ExtraBold.woff') format('woff'),
		url('../fonts/Geometria_ExtraBold/Geometria_ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}